/* PALETTE COLORI */
:root{
    --biancosporco: #FFF8EA;
    --marronechiaro: #9E7676;
    -marrone: #815B5B;
    --marronescuro: #594545;
}

/* GENERAL */
body{
    font-family: 'PT Sans', sans-serif;
    color: black;
}

