<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="./js/script.js" defer></script>
    <title>Vue To Do List</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="container-title">
                <h1>Promemoria di cose da fare </h1> 
            </div>

        </div>

        <div class="userItems d-flex justify-content-around">
            <input type="text" name="" id="" placeholder="Inserisci promemoria"
            v-model="newtask" @keyup.enter ="addTask">
            <div @click="addTask" class="rounded-pill btnUser">Aggiungi</div>
        </div>
            
        <div v-if="hasError" class="alertError d-flex justify-content-center rounded-pill p-2">
            Devi digitare almeno 4 caratteri!
        </div>
       
        <div class="container-promemoria">
             <ul v-if="lista.length > 0">
                <li v-for="(item, index) in lista" :key="index" @click="checkedTask" class="promemoria">
                    <div class="container-item">
                        <span class="item">{{item}}</span>
                        <span class="checked-Utente" :class="{'checkColor': isActive}" ><i class="fa-solid fa-check"></i></span>
                    </div>
                        <span class="croce" @click="removeTask(index)"><i class="fa-solid fa-xmark"></i></span>

                </li>
            </ul>
        <div v-else class="spawnUtente">Non hai niente da fare!</div>   
        </div>


            
           
    </div>
    
</body>
</html>
